DIV.clSlide{
	position:absolute;
 	z-index:10; 
	left:0; 
	width:138; 
	height:22; 
	clip:rect(0,138,22,0); 
	padding:3px;
}

DIV.clSlideSub{position:absolute; z-index:10; padding:2px; clip:rect(0,127,20,0); width:127; height:20; left:8; visibility:hidden}

DIV.clSlideSub2{position:absolute; z-index:10; padding:2px; clip:rect(0,118,20,0); width:118; height:20; left:8; visibility:hidden}

#divSlideCont{position:absolute; z-index:10; left:0; top:100; height:300; width:150; visibility:hidden}

A.clSlideLinks{

	font-family:sans-serif, arial; 
	font-size:11px; 
	text-decoration:none; 
	color:#000000; 
	display:block;
}

A.clSlideSubLinks{font-family:sans-serif, arial;  font-size:10px; text-decoration:none; color:#000000; display:block;}

A.clSlideSub2Links{font-family:sans-serif, arial;  font-size:9px; text-decoration:none; color:#000000; display:block;}

A.mapLink{font-family:sans-serif, arial;  font-size:11px; font-weight:bold; text-decoration:none; color:#0000FF}