A:link{TEXT-DECORATION: none; COLOR: #0000FF;}
A:visited{TEXT-DECORATION: none; COLOR: #0000FF;}
A:hover{background-color:#E6E6DE; COLOR:#0000FF; TEXT-DECORATION:underline; cursor:pointer;} 

.Estilo1 {font-family:Tahoma; font-size:14px; color:#000000; font-weight:bold; }
.Estilo2 {font-family:Tahoma; font-size:12px; color:#000000 }
.cerrado {font-family:Tahoma; color:#CC0000; font-size:12px; font-weight:bold}
.abierto {font-family:Tahoma; color:#009900; font-size:12px; font-weight:bold}
.error{font-family:Tahoma; font-size:12px; color:#CC0000 }
.td{background-color:#006CD8; width:50px; vertical-align:top; text-align:center}
.tb{background-color:#E4E5DB;font:12px Tahoma; padding:2px; border-collapse:collapse;}

body {
	background-color: #E4E5DB;
	font-family: Tahoma;
	font-size:12px;
	margin-top:10;
	scrollbar-face-color:#D5D6C7;
	scrollbar-highlight-color:#ececd9;
	scrollbar-3dlight-color:#f5f5eb;
	scrollbar-shadow-color:#7A8180;
	scrollbar-arrow-color:#7A8180;
	scrollbar-track-color:#f1f1e2}
table {
	font:12px Tahoma;
	padding:2px;
	border-width:0px;
	border-collapse:collapse;
	background-color:#FFFFFF;
}
caption {
	font-family: Tahoma;
	font-size: 12px;
	text-decoration: underline;
	color:#007DE2;
	font-weight:bold;
}
.tr{text-align:center;font-family: Tahoma;font-size: 13px; background-image:url(../img/tr.gif); text-align:center}
.button {cursor:pointer; width:80px}
.input{cursor:pointer}